

.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 19px solid slategray;
    background-color: #EBF5FB ;
    width: 110%;
    margin-bottom: 10%;
  
  }
  
  .digitalWatch {
    display: flex;
    font-size: 2.5em;
  }
  
  #hours,
  #minutes,
  #colon,
  #seconds {
    font-size: 4em;
    font-weight: bold;
  }
  
  #seconds {
    margin-top: 22%;
    margin-left: 2%;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .resetBtn {
    background-color: #dc3545;
    border: 1px solid #dc3545;
   
  }
  
  .openModalBtn {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  .updateRealTimeBtn {
    background-color: #28a745; 
    border: 1px solid #28a745;
  }
  .buttons{
    display: flex;
    justify-content: center;
    margin: 2%;
  }
  
  
  