.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 19px solid slategray;
    background-color: #EBF5FB ;
    width: 45%;
    margin-top: 10%;
    left: 27%;
  
  }
  .digitalWatch {
    display: flex;
    font-size: 2.5em;
  }
  
  #hours,
  #minutes,
  #colon,
  #seconds {
    font-size: 4em;
    font-weight: bold;
  }
  
  #seconds {
    margin-top: 22%;
    margin-left: 2%;
    font-size: 4rem;
    font-weight: bold;
  }
  
  
  @media only screen and (max-width: 600px) {
    .app {
      background-color: lightblue;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
    }
    .digitalWatch {
      display: flex;
      align-items: center;
    }
    #hours,
  #minutes,
  #colon,
  #seconds {
    font-size: 2em;
    font-weight: bold;
  }
  #seconds {
    margin-top: 12%;
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bold;
  }
  .resetBtn, 
  .updateRealTimeBtn,
  .openModalBtn {
    width: 100%;
  }
 
    
  }
  

  