
button{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
}
.resetBtn {
    background-color: #dc3545;
    border: 1px solid #dc3545;
   
  }
  
  .openModalBtn {
    background-color: #007bff;
    border: 1px solid #007bff;
   
  }
  .updateRealTimeBtn {
    background-color: #28a745; 
    border: 1px solid #28a745;
  }
  .buttons{
    display: flex;
    justify-content: center;
    margin: 2%;
  }