.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .heading {
    font-size: 2.5em;
    font-weight: bolder;
    font-style: underline;
    text-decoration: underline;
    margin-bottom: 100px; 
  }

  .watches {
    display: flex;
    justify-content: space-between;
  }
  
  .link {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    background-color: #007bff;
    color: #fff;
    font-weight: 500;
    text-align: center;
    width: 48%; 
  }
  
  