body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .analog{
    position: relative;
    width: 265px;
    height: 265px;
    border: 10px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock {
    width: 230px;
    height: 230px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #three {
    justify-content: right;
    align-items: center;
  }

  #six {
    justify-content: center;
    align-items: flex-end;
  }

  #nine {
    justify-content: left;
    align-items: center;
  }

  #twelve {
    justify-content: center;
    align-items: flex-start;
  }

  .num {
    position: absolute;
    height: 200px;
    width: 200px;
    display: flex;
    font-size: 25px;
    font-weight: bolder;
  }

  .origin {
    position: relative;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
  }
  .hoursWrapper{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
  }
  .hoursHand{
    position: relative;
  }
   .hoursHand .hand{
    width: 3px;
    height: 55px;
    background-color: blue;
    position: absolute;
    left: 35px;
    top: 54px;
    transform: rotate(30deg);
  }
   
  .minutesWrapper{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .minutesHand{
    position: relative;
  }
  .minutesHand .hand{
    width: 3px;
    height: 70px;
    background-color: red;
    position: absolute;
    left: 99px;
    top: 36px;
  }

  .secondsWrapper{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
  }
  .secondsHand{
    position: relative;
  }
   .secondsHand .hand{
    width: 2px;
    height: 79px;
    background-color: black;
    position: absolute;
    left: 89px;
    top: 19px;
    transform: rotate(270deg);
  }