body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.analog{
  position: relative;
  width: 265px;
  height: 265px;
  border: 10px solid #195832;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 230px;
  height: 230px;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hourHand,
.minuteHand,
.secondHand {
  position: absolute;
  background-color: #000;
  transform-origin: 50% 100%;
}

.hourHand {
  height: 50px;
  width: 4px;
  top: 64px;
  left: 111px;
}

.minuteHand {
  height: 70px;
  width: 3px;
  top: 43px;
  left: 112px;
}

.secondHand {
  height: 80px;
  width: 1px;
  top: 33px;
  left: 113px;
}

.analog::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.twelve{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bolder;
}
.six{
  position: absolute;
  top: 80%;
  left: 45%;
  font-size: 2rem;
  font-weight: bolder;
}
.nine{
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 5%;
}
.three{
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;
  top: 40%;
  left: 90%;
}

.resetBtn {
  background-color: #dc3545;
  border: 1px solid #dc3545;
 
}

.openModalBtn {
  background-color: #007bff;
  border: 1px solid #007bff;
 
}
.updateRealTimeBtn {
  background-color: #28a745; 
  border: 1px solid #28a745;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}