
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .heading {
    font-size: 2.5em;
    font-weight: bolder;
    font-style: underline;
    text-decoration: underline;
    margin: 0px 30px 100px 30px;

  }

  .house {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    background-color: #007bff;
    color: #fff;
    font-weight: 500;
   
  }
  