.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.digital-watch {
  display: flex;
  font-size: 2.5em;
  margin-top: 10%;
}

#hours,
#minutes,
#colon,
#seconds {
  font-size: 4em;
  font-weight: bold;
}

#seconds {
  margin-top: 22%;
  margin-left: 2%;
  font-size: 4rem;
  font-weight: bold;
}

.reset-btn {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 23px;
}
.open-modal-btn,
.close {
  display: inline-block;
  margin-right: 10px;
}

.open-modal-btn {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.close {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  margin-right: 0; 
}